<% if current_user %>
<%= link_to('Logout', destroy_user_session_path, id: "log-out" , method: :delete) %>
<% end %> <br>

<%= link_to new_post_path do %>
Create post
<% end %> <br>

<% @posts.each do |post| %>
  <p> <%= post.message %> </p>
  <% if current_user.id == post.user_id %>
    <%= link_to 'Delete', post, :data => {:confirm => "Do you really want to delete #{post.message}?"}, :method => :delete %>
    <%= link_to 'Edit Post', edit_post_path(post) %>
  <% end %>
<% end %>
